rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /existingProjects/{projectId} {
      allow read: if true;
      allow create: if request.auth != null
                    && request.resource.data.slug == projectId
                    && request.resource.data.name != '';
      allow update, delete: if request.auth != null
                            && request.resource.data.slug == projectId;
    }
  }
}
